:root {
  --background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --text-color: #ffffff;
  --input-background-color: #333333;
  --input-border-color: #444444;
  --button-background-color: #007bff;
  --button-hover-color: #0056b3;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  font-family: inherit;
}
